/* Styles for mobile */

* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(0, 0, 0);
  /* background-image:url("/images/back.jpg"); */
  color: white;
  font-family: 'Roboto Condensed', sans-serif;}
img {
  background-blend-mode: lighten;
}
nav {
  /* font-family:  'Poppins', sans-serif; */
  display: flex;
  height: 60px;
  background-color: rgb(28, 27, 27);

  justify-content: space-around;
  align-items: center;
}
#left {
  font-size: 35px;
  font-weight: bold;
}
#left a{
  text-decoration: none;
  color: white;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  font-size: 25px;
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  color: white;
 text-decoration: none;
}
nav ul li a:hover{
  font-size: 27px;
  color:#ff7613;
  /* font-size: 1.1rem; */
 
}
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
}
.firstsection > div {
  width: 30%;
}
.buttons button{
  font-size: 15px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #e46001;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 12px;
  cursor: pointer;
 
}
#leftsection {
  
  margin: 80px 0;
  font-size: 3rem;
  font-weight: bold;
}

#rightsection img {
  width: 100%;
  margin: -40px -128px;
  margin-bottom: 0px;
  max-width: 200%;
    height: 549px;
    width: 600px;
    /* border-radius:50%; */
 
}
#elements{
  color: #ff7613;
}

#element{
  color: #ff7613;
}
hr{
  border: 0px;
  background-color:#ff7613;
  height: 0.5px;
  margin: 31px 140px;
}
.secondsection{
  max-width: 80vw;
  margin: auto;
  color: rgb(255, 255, 255);
  height: 50vh;
}
.secondsection h1{
  font-size: 2rem;
}
.red-c{
  color: #ff7613;
  font-size: 12px;
}
.secondsection .box{
  background: white;
  width: 32vw;
  height: 2px;
  margin: 33px 348px;
  display: flex;
}
.secondsection .verticle {
  background: white;
  width: 1px;
  height: 90px;
  margin:  0 120px;
} 
.secondsection .verticle2 {
  background: white;
  width: 1px;
  height: 90px;
  margin:  0 120px;
} 
.verticle img{
  position: relative;
    top: -31px;
    left: -12px;
    width: 28px;
}
.verticle-text{
 
position: relative;
top: 50px;
left: -60px;
width: 350px;

}
.verticle-des{
  position: relative;
  top: 50px;
  left: -60px;
  width: 180px;
  font-size: 15px;
}
.verticle2 img{
  position: relative;
    top: -31px;
    left: -12px;
    width: 28px;
}
.footer{
  background: #0e0e0e;
  height: 100px;
  display: flex;
  margin: 0px 150px;
  margin-bottom: 0px;
  padding: 20px;
  justify-content: space-evenly;
}
.footer >{
  width: 100px;
}
.footer h3{
  font-size: 1.5rem;
  margin: -3px -200px;
}
.footer ul{
  
  margin: 50px 0;
 
}
.footer-rights{
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .firstsection{
    width: 1121px;
  }
  #leftsection {
    width: 1061px;
    font-size: 9rem;
   margin: 80px 0;
   
   font-weight: bold;
   justify-content: flex-start;
 }
 #rightsection{
display: none;
 }

 #left {
  margin-left: -450px;
  font-size: 100px;
  font-weight: bold;
}

hr{
 width: 900px;
}
.logo-img{
  width: 100px;
  height: 100px;
}
 .footer{
  margin-top: 700px;
   width: 1150px;
   height: 300px;
   margin-left: 0;
  
 }
 .secondsection h1{
  font-size: 7rem;
}
.red-c{
  color: #ff7613;font-size: 2rem;
}
.secondsection .box{
  background: white;
  width: 32vw;
  height: 2px;
  margin: 33px 348px;
  display: flex;
}
.secondsection .verticle {
  background: white;
  width: 1px;
  height: 90px;
  margin:  0 120px;
} 
.verticle-text{
 font-size:7rem;
  top: 50px;
  left: -60px;
  width: 350px;
  
  }
  .verticle-des{
    position: relative;
    top: 50px;
    left: -60px;
    width: 300px;
    font-size: 30px;
  }
.secondsection .verticle2 {
  background: white;
  width: 1px;
  height: 90px;
  margin-top:  350px ;
  margin-left: -120px;
} 
 nav{
  font-size: 2rem;
   width: 1150px;
   height: 130px;
 }
 #right{
  margin-top: 200px;
  margin-left: -1750px;
 }
.footer h3{
  font-size: 3rem;
  margin:-5px -150px;
} 
.footer ul{
  
  margin: 100px 0;
  margin-left: -300px;
  font-size: 3rem;
 
}
.footer-rights{
  /* text-align: center; */
  font-size: 2rem;
  margin-left: 250px;
  width: 630px;
}
.buttons button{
  font-size: 40px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #e46001;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 12px;
  cursor: pointer;
 
}
}

/* Styles for desktop */
